<header>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="logo">
                <a href="/">
                    <img src="img/igea-logo.svg" alt="IgeA Logo" class="logo-img" width="40" height="40">
                </a>
            </div>
            <div class="nav-links">
                <a href="#features">Features</a>
                <a href="#use-cases">Use Cases</a>
                <a href="#security">Security</a>
                <a href="#faq">FAQ</a>
                <a href="/download.html" class="download-btn">Download</a>
            </div>
            <div class="mobile-menu-btn">
                <span></span><span></span><span></span>
            </div>
        </div>
    </nav>
</header>
